.admin-community
{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}

.admin-form
{
    /* width: 90%; */
    margin-bottom: 5rem;
}

.language-label
{
   margin: 0;
}
/* Language button group */
.lang-buttons
{
   margin-bottom: 1rem;
}

.submit
{
    float: right;
}

