    div.whole
    {
    width: 100%;
    height: 100%;
    display: block;
    position:absolute;
    
    }
    div.top
    {
        margin-top: 5rem;
        
        display: block;
        position: relative;
        width: 100%;
        height: 60%;

    }


    div.bottom
    {
        position: relative;
        display:block;
        width: 100%;
        height: 100%;  
    background: url(../pictures/bg.jpg);
        background-size:cover;
        background-repeat: no-repeat ;
        background-position: 85% 0% ;
        margin-top: 0%;
    }

    div.title
    {
        position: relative;
        display: block;
        font-size: 4.0vw;
        font-weight: 950;
        margin-left: 5%;
    }

    div.banner
    {
        position: relative;
        display: inline-block;
        top: 0;
        height: auto;
        bottom:  22em;
        margin-left: 5%; 
        
    }
    .video-wrapper
    {
        display: block;
        top:0;
        width:  32vw;
        height: 18vw;
        position: relative;
        border: black;
        border-style:  none;
        border-width: 5px ;
        /* todo*/ 
    }
    .react-player
    {
        position: absolute;
        top: 0;
        left: 0;
    }
    div.logocont
    {
        position: absolute;
        bottom: 0;
        width:100%;
        height: auto;
        max-height: max-content;  
        text-align: center;
        margin-bottom: 1%;


        /*font-size: 15px;
        font-weight: 950;
        */
    }
    img.logos 
    {  
        max-width: 22em;
        min-width: 15em;
        width: 10%;
        height: auto;
        margin: 0% 1%;
    }    
/*phone*/
@media (max-width: 1000px) 
{
    div.whole
    {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    position:absolute;

    }
    div.top
    {
        border: black;
        border-style:  none;
        border-width: 5px ;
        margin-top: 5rem;
        background-color: black;
        display: block;
        position: relative;
        width: 100%;
        height: 33%;

    }

    div.bottom
    {
        position: relative;
        display:block;
        width: 100%;
        height: 100%;  
        background: url(../pictures/bg.jpg);
        background-size:cover;
        background-repeat: no-repeat ;
        background-position: 85% 0% ;
        margin-top: 0%;

    }

    div.title
    {
        position: relative;
        display: block;
        font-size: 5.0vw;
        font-weight: 950;
        margin-left: 5%;
        text-align: center;

    }

    div.banner
    {
        position: relative;
        display: inline-block;
        top: 0;
        width: 100%;
        height: auto;
        bottom:  22em;
        margin-left: 0%; 
        

    }

    .video-wrapper
    {
        top:0;
        display: block;
        position: relative;
        border: black;
        border-style:  none;
        border-width: 5px ;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 10%;
        width: 64vw;
        height: 32vw;
    }
    .react-player
    {
        position: absolute;
        top: 0;
        left: 0;
        
    }
    div.logocont
    {
        display: block;
        position: absolute;
        bottom: 0;
        width:100%;
        height: auto;
        max-height: max-content;  
        text-align: center;
        margin-bottom: 1%;
        /*font-size: 15px;
        font-weight: 950;
        */
    }
    img.logos 
    {  
        max-width: 22em;
        min-width: 9em;
        width: 15%;
        height: auto;
        margin: 0% 1%;
        padding-bottom: 4%;
    }


@media (max-width: 1000px) and (orientation:landscape) 
{
    div.top
    {
        width: 100%;
        height: 60%;
    }

    .video-wrapper
    {
        text-align: center;
        width: 64vh;
        height: 32vh;
    }
    .react-player
    {
        position: absolute;
        top: 0;
        left: 0;
        
    }
}
}
/*
To do later
div.buttons
{
    display: inline-block;
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 2%;
    padding: 0% 20%;
    width: 100%;
    background-color: brown;


}

.buttons a
{
    background-color: black;
    font-size: x-large;
    color: white;
    padding: 1%;
    
}
*/