.contact-div
{
  flex: 1;
}

.list ul
{
  /*background:d;*/
  text-align: center;
  padding: 0;
  
}


.send_button
{
  position: relative;
  overflow: hidden;
  width: auto;
  height: 40px;
  color: black;
  background: white;
  border-color: black;
}

.send_button:hover
{
background: red;
}