.contact-div
{
  flex: 1;
}


.header_text h1{
  color: #007bff;
  padding-top: 4%;
  padding-bottom: 2% ;
}

.list ul{
  /*background:d;*/
  text-align: center;
  
  
}

input[type=textarea], select {
  width: auto;
  min-width: 55%;
  width: auto;
  min-height: 500px;
  max-height: max-content;
  height: fit-content;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 2px solid BLACK;
  border-radius: 4px;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  white-space: nowrap;
  overflow-wrap: normal ;
  }
  
  .send_button{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 40px;
    color: black;
    background: white;
  }

