
.container
{
	overflow: hidden;
    position: relative;
	width: 100%;
	
}

.container ul 
{	
	/*top: 100%;*/
	width: 100%;
}

.container ul li
{
	float: left;
	width: 30%;
	list-style: none;
}

.container ul li img
{
	float: left;
	width: 100%;
	list-style: none;
	margin: 0px;
}

.article{
	
	text-align: center;
}
