.boundry{
    height: auto;
    width: 100%;
    padding: 1% 2%;
    margin-bottom: 1%;
    /* border-top: black;
    border-bottom:black ;
    border-left:none ;
    border-right:none ;
    */
    border-width: 1%;
    border-top: solid;
    font-size:1.5vw;

}