:root{
  --mainDark: #343a40;
  --mainGrey: rgba(109,109,109);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.fullbody{
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}