.footer-component
{
  margin: 0 auto;
  width: 50%
}

.footer-div {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    margin-bottom: 12px;
}






.footer-div
{
  display:flex;
  font-size: 14px;
}

.site-footer
{
  display:flex;
}


.site-footer *
{
  padding-right: 5%;
}


.container-1
{
 width:50%;
}

.container-2
{
 width:25%;
}

.container-3
{
 width:25%;
}





.link
{
  /*float: left;*/
}

.link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.link h3
{
  margin: 0px;
}

.link a
{
  color: black;
}

.link a:link {
  text-decoration: none;
}

.link a:visited {
  text-decoration: none;
}





.about-us
{
  float: left;
}

.about-us h3
{
  margin: 0px;
}

.about-us p
{
  margin: 0px;
}