/* centers the OVERALL component/divs*/
.main-component
{
  margin: 0 auto;
  width: 70%;
}





/* Hamza if it is confusing you can move the code below to a new file if needed, I will convert this file to apply to main conponents */
.header_text{
    font-size: x-large;
    font-style: bold;
    text-align: center;
    position: relative;
}
.body_text
{
  left: 0;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
}

input[type=text], select {
  width: 55%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



  