/* centers the OVERALL component/divs*/
*
{
margin: 0;  
}
html, 
body {
    height: 100%;
}

#root
{
  height: 100%
}

.main-component
{
  margin: 0 auto;
  width: 70%;
  overflow: auto;
}





/* Hamza if it is confusing you can move the code below to a new file if needed, I will convert this file to apply to main conponents */
.header_text{
    font-size: x-large;
    font-style: bold;
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom:10px ;
}
.body_text
{
  left: 0;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
}

input[type=text], select {
  width: 55%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 2px solid BLACK;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}



  