a.survey-button
{
    display: block;
    width: 100%;
    border: none;
    background-color: #dd3928;
    padding: 14px 28px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    text-align: center;
}

a.survey-button:hover
{
    background: #F7DA44;
    color: #dd3928
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}