body
{
  background-color: white;
}

.welcome-message
{
  left: 0;
  font-size: 30px;
  position: relative;
  text-align: center;
  top: 35%;
  width: 100%;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}